/*home*/
main {
    margin-bottom: 2rem;
    margin-top: 1rem;
    .cotizar {
        @include flex (column, center, center, 0rem);
        height: 100%;
        width: 100%;
        border: solid 1px map-get($colors, borde);
        background: linear-gradient(to right, #00c6ff, #0072ff);
        
        &__subtitulo {
            font-size: $text-subtitulo;
            text-align: center;
            font-family: $font-subtitulo;
        }
        &__parrafo{
            font-size: $text-parrafo;
            text-align: center;
            font-family: $font-parrafo;
        }
        &__presupuesto {
            font-size: $text-parrafo;
            color: map-get($colors, primary);
            border: solid 1px;
            padding: 0.2rem;
            text-decoration: none;
        }
        &__presupuesto:hover {
            color: map-get($colors, hover);
        }
        
    }
    .fondo {
        background-image: url(../img/fondocascos.jpg);
        height: 800px;
        background-size: cover;
        background-position: center bottom;
        margin-top: 1rem;
        &__article {
            display: flex;
            justify-content: space-around;
        }
        &__titulo {
            background-color: map-get($colors, text-background);
            border-radius: 15px;
            font-size: $text-titulo;
            font-family: $font-titulo;
        }
    }
    .cotizar__seccion {
        @include flex (row, space-around, flex-start, 0rem);
        margin-top: 1rem;

        .cotizar__article {
            width: 350px;

            .cotizar__nosotros {
                margin: 1rem;
                text-align: center;
                font-size: $text-parrafo;
                font-family: $font-parrafo;
                color: #023355;
            }
        }
        .cotizar__img {
            border-radius: 100px;
        }

    }
    /*aplicando extend*/
    .cotizar__h3 {
        @extend .cotizar__subtitulo;
        text-decoration: underline;
    }
    .contactos {
        background-image: url(../img/fondogris.jpg);
        background-size: cover;
        background-position: center;
        height: 400px;
        width: 100%;   
        &__contenedor {
            @include flex (row, space-around, center, 0rem);
            height: 100%;
            width: 100%;
        }
        &__redes {
            @include flex (row, space-between, flex-start, 0rem);
            padding-left: 0rem;
            list-style-type: none;
            width: 80%;
        }
        &__titulo {
            font-size: $text-titulo;
            font-family: $font-titulo;
        }

        &__div {
            @include flex (column, flex-start, center, 2rem);
            border: solid 1px map-get($colors, primary);
        }

        .contacto__parrafo {
            font-size: $text-small;
            font-family: $font-parrafo;
        } 
    }
    .logo {
        width: 100px;
        height: 100px;
    } 
}



/*fin home*/

@media screen and (max-width:1024px) {
      /*inicio index*/
      .menu__responsive nav .menu__titulo {
          font-size: 2em;
      }

      main .fondo {
        background-image: url(../img/fondocascos.jpg);
        height: 500px;
       background-position: center bottom;
       &__titulo {
        text-align: center;
        font-size: 3em;
        font-family: $font-titulo;
    }
    }
 
    main .contactos__contenedor {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    /*fin index*/
}

@media screen and (max-width: 768px) {
    /*inicio index*/
    .menu__responsive nav .menu__titulo {
        font-size: 1.7em;
        color: #0c0b0b;
    }
    main .contactos__contenedor {
        height: 100%;
        width: 100%;
        @include flex (column, space-around, center, 0rem);
    }
    main .fondo {
        background-image: url(../img/fondocascos.jpg);
        height: 380px;
       background-position: center bottom;
       
       &__titulo {
        font-size: 2.5em;
        font-family: $font-titulo;
    }
    }

    main .contactos__titulo {
        font-size: $text-subtitulo;
    }

    main .cotizar__seccion .cotizar__img {
        width: 240px;
        height: 210px;
    }

    main .cotizar__seccion .cotizar__article {
        width: 50%;

        & .cotizar__nosotros {
            font-size: 1.6em;
        }
    }
    main .cotizar__subtitulo {
        font-size: 2.5em;
    }
    /*fin index*/
}

@media screen and (max-width: 600px) {
    /*inicio index*/
  
    .menu__responsive nav .menu {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    &__titulo {
        font-size: 1.5em;
    }
    }
    ul {
        display: flex;
        gap: 0.5rem;
        flex-direction: row;
        justify-content: space-evenly;
    }

    main .fondo {
        background-image: url(../img/fondocascos.jpg);
        height: 300px;
       background-position: center bottom;
       margin-top: 1rem;
    } 
    main .cotizar__subtitulo {
        font-size: 2em;
    }
    main .cotizar__seccion {
        flex-direction: column;
        align-items: center;

        & .cotizar__article {
            width: 100%;
        }
    }
    
    /*fin index*/
}


@media screen and (max-width: 480px){ 
    /*inicio index*/
    .menu__responsive nav .menu__titulo{
        font-size: 1.3em;
    }
    main .fondo {
        background-image: url(../img/fondocascos.jpg);
        height: 250px;
       background-position: center bottom;
       margin-top: 0rem;

       &__titulo {
        font-size: 2em;
        font-family: $font-titulo;
    }
    }  
    .contenedor__cotizar {
        display: flex;
        flex-direction: column-reverse;
        gap: 0.8rem;
    }
 
    main .contactos__titulo {
        margin-bottom: 2rem;
        font-size: 2em;
        font-family: $font-titulo;
    }
    main .contactos .contacto__parrafo {
        font-size: 1.2em;
        font-family: $font-parrafo;
    } 
    main .cotizar__subtitulo {
        font-size: 1.7em;
        text-align: center;
    }
    main .cotizar__parrafo{
        font-size: 1.4em;
        text-align: center;
        font-family: $font-parrafo;
    }
  
    main .cotizar__presupuesto {
        font-size: 1.5em;
    }
    main .cotizar__seccion {
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        & .cotizar__img {
            width: 180px;
            height: 110px;
        }

        & .cotizar__article {
            width: 90%;
            border: solid 1px;
        }

        & .cotizar__article .cotizar__nosotros {
            margin: 0.4rem;
            text-align: center;
            font-size: 1.6em;
            font-family: $font-parrafo;
        }
    }
 
    /*fin index*/ 
}

@media screen and (max-width: 320px){
    /*inicio index*/
    .menu__responsive nav .menu__titulo {
        font-size: 1em;
    }
    main .fondo {
        background-image: url(../img/fondocascos.jpg);
        height: 230px;
       background-position: center bottom;
       margin-top: 0rem;
    }  
    main .cotizar__subtitulo {
        font-size: 1.7em;
        text-align: center;
    }
    main .cotizar__parrafo{
        font-size: 1.4em;
        text-align: center;
        font-family: $font-parrafo;
    }
    main .cotizar__presupuesto {
        font-size: 1.3em;
    }
    main .cotizar__seccion .cotizar__article {
        width: 85%;

        & .cotizar__nosotros {
            font-size: 1.2em;
        }
    }

    main .cotizar__seccion .cotizar__img {
        width: 160px;
        height: 130px;
    }
    /*fin index*/
}