/*inicio nosotros*/
.nosotros__body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    .main {
        @include flex (row, space-evenly, center, 5rem);
        background-image: url(../img/pared.jpg);
        background-size: cover;
        .carousel {
            width: 30%;
        }
        .nosotros {
            width: 50%;
            &__articulo {
                margin-bottom: 2rem;
                width: 80%;
                .nosotros__titulo {
                    font-family: $font-titulo;
                    font-size: $text-titulo;
                }
                .nosotros__parrafo {
                    font-size: $text-small;
                    font-family: $font-parrafo;
                }
            }
        }
    }
}

/*fin nosotros*/

@media screen and (max-width:1024px){
    /*inicio nosotros*/
    .nosotros__body .main {
        gap: 2rem;
        .carousel {
            width: 40%;
        }
        .nosotros__articulo {
            width: 80%;
            .nosotros__titulo {       
                font-size: 2.5em;
                }
                .nosotros__parrafo {
                    font-size: 1.5em;
                }
        }
    }

    /*fin nosotros*/
}

@media screen and (max-width: 768px) {
    /*inicio nosotros*/
    .nosotros__body .main .nosotros {
        width: 100%;
        height: 100%;
        .nosotros__articulo {
            width: 100%;
            .nosotros__titulo {
                font-size: 2em;
            }
            .nosotros__parrafo {
                font-size: 1.4em;
            }
        }
    }
    .nosotros__body .main .carousel {
        width: 80%;
    }

    /*fin nosotros*/
}

@media screen and (max-width: 600px) {
       /*inicio nosotros*/
       .nosotros__body .main {
        flex-direction: column;
    }

    /*fin nosotros*/
}

@media screen and (max-width: 480px) {
    .nosotros__body .main {
        align-items: stretch;
        .carousel {
            width: 100%;
        }
        .nosotros {
            padding: 1rem;
            .nosotros__articulo {
                display: flex;
                flex-direction: column;
                gap: 2rem;
                .nosotros__titulo {
                    font-size: 1.5em;
                }
            }
        }
    }

    /*fin nosotros*/
}