.presupuesto__section {
    background-image: url(../img/presupuesto.png);
    height: 600px;
    margin-bottom: 2rem;
    background-size: cover;
    background-repeat: round;
    .presupuesto__titulo {
        text-align: right;
        font-size: $text-titulo;
        font-family: $font-titulo;
        background-color:  map-get($colors, text-background);
        border-radius: 15px;
    }
}
.button__presupuesto {
    font-size: 1em;
}
.contenedor__div {
    margin-bottom: 2rem;
    .presupuesto__parrafo {
        text-align: center;
        font-size: $text-parrafo;
        font-family: $font-parrafo;
    }
}

.presupuesto {
    @include flex (row, space-evenly, center, 0rem);
    .form {
        @include flex (column, flex-start, center, 1rem);
        margin-bottom: 5rem;
        padding: 0.5rem;
        width: 50%;
        border: solid 1px map-get($colors, borde);
        font-size: $text-parrafo;
        .presupuesto__radio {
            @include flex (column, flex-start, center, 1rem);
            width: 30%;
        }
        .presupuesto__info {
            @include flex (column, flex-start, stretch, 1rem);
            width: 30%;
        }
    }
}


@media screen and (max-width:1024px){
    /*inicio presupuesto*/
        .presupuesto__section {
        height: 440px;
        .presupuesto__titulo {
            font-size: 3.3em;
            }
        }
        .presupuesto .form .presupuesto__radio {
        gap: 1rem;
        }      
        .presupuesto .form .presupuesto__info {
            width: 50%;
        }
        /*fin presupuesto*/
}

@media screen and (max-width: 768px){
    /*inicio presupuesto*/
    nav {
        width: 60%;
    }
    .presupuesto__section {
            height: 330px;
            .presupuesto__titulo {
                font-size: 2.7em;
            }
    }

    .presupuesto .form .presupuesto__radio {
        width: 50%;
        gap: 0.6rem;
    }
    .contenedor__div .presupuesto__parrafo  {
        font-size: 1.7em;
    }
    /*fin presupuesto*/
}

@media screen and (max-width: 600px){
        /*inicio presupuesto*/
        header { 
            flex-direction: column;
        }
        .presupuesto__section {
            height: 260px;
        }
        .presupuesto .form .presupuesto__radio {
            width: 50%;
            gap: 0.5rem;
        }
        .presupuesto .form .presupuesto__info {
            width: 60%;
        }
        .presupuesto .form {
            font-size: 1.6em;
        }
        .contenedor__div .presupuesto__parrafo {
            font-size: 1.5em;
        }
        /*fin presupuesto*/
}

@media screen and (max-width: 480px){
        /*inicio presupuesto*/
  
        .contenedor__div .presupuesto__parrafo {
            font-size: 1.3em;
        }
        .presupuesto .form {
            font-size: 1.3em;
            width: 90%;
            gap: 2rem;
            padding: 2rem;
        }
        .presupuesto .form .presupuesto__radio {
            width: 60%;
            gap: 0.5rem;
        }
        .presupuesto .form .presupuesto__info {
            gap: 0.5rem;
            width: 60%;
        }
        .presupuesto__main {
            min-height: 80vh;
            .presupuesto__section {
                height: 200px;
                .presupuesto__titulo {
                    font-size: 2em;
                }
            }
        }
        /*fin presupuesto*/
}
@media screen and (max-width: 320px){
    /*incio presupuesto*/
    .presupuesto .form .presupuesto__radio {
        width: 100%;
    }
    /*fin presupuesto*/
}