/*inicio trabajos*/
picture img {
    width: 100%;
    height: 100%;
}
.trabajos {
    background-image: url(../img/trabajo.jpg);
    background-size: cover;
    background-position: center bottom;
    height: 600px;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.fondo__article {
    display: flex;
    justify-content: space-around;
}

.main__trabajos {
    margin: 0 auto;
    max-width: 1200px;
}
.trabajos__img {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}
.trabajos__picture:nth-of-type(1) {
    grid-column: 1 / 4;
}
.trabajos__picture:nth-of-type(2) {
    grid-column: 4 / 7;
}
.trabajos__picture:nth-of-type(3) {
    grid-column: 7 / 10;
}
.trabajos__picture:nth-of-type(4) {
    grid-column: 1 / 4;
    grid-row: 2;
}
.trabajos__picture:nth-of-type(5) {
    grid-column: 4 / 7;
    grid-row: 2;
}
.trabajos__picture:nth-of-type(6) {
    grid-column: 7 / 10;
    grid-row: 2;
}
.trabajos__picture:nth-of-type(7) {
    grid-column: 1 / 4;
    grid-row: 3;
}
.trabajos__picture:nth-of-type(8) {
    grid-column: 4 / 7;
    grid-row: 3;
}
.trabajos__picture:nth-of-type(9) {
    grid-column: 7 / 10;
    grid-row: 3;
}

.trabajos__titulo {
    text-align: center;
    font-size: $text-titulo;
    font-family: $font-titulo;
    background-color: map-get($colors, text-background);
    border-radius: 15px;
}

.trabajos__parrafo {
    margin-top: 2rem;
    margin-bottom: 3rem;
    text-align: center;
    font-size: $text-parrafo;
    font-family: $font-parrafo;
}
/*fin trabajos*/

@media screen and (max-width:1024px) {
    /*inicio trabajos*/
    .trabajos {
        background-image: url(../img/trabajo.jpg);
        background-size: cover;
        background-position: center bottom;
        height: 500px;
        margin-bottom: 2rem;
    }
    .trabajos__titulo {
        text-align: center;
        font-size: 3em;
        font-family:'Montserrat', sans-serif;
    }
    .trabajos__parrafo {
        margin-top: 1rem;
        margin-bottom: 1rem;
        text-align: center;
        font-size: 1.8em;
        font-family: Arial, Helvetica, sans-serif;
    }
    /*fin trabajos*/
}

@media screen and (max-width: 768px){
    /*inicio trabajos*/
    .main__trabajos {
        margin: 0 auto;
        max-width: 600px;
    }
    .trabajos {
        background-image: url(../img/trabajo.jpg);
        background-size: cover;
        background-position: center bottom;
        height: 400px;
        margin-bottom: 2rem;
    }
    .trabajos__titulo {
        text-align: center;
        font-size: 2.7em;
        font-family:'Montserrat', sans-serif;
    }
    .trabajos__img {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: repeat(5, 1fr);
        gap: 20px;
    }
    .trabajos__picture:nth-of-type(1) {
        grid-column: 1 / 6;
    }
    .trabajos__picture:nth-of-type(2) {
        grid-column: 6 / 10;
    }
    .trabajos__picture:nth-of-type(3) {
        grid-column: 1 / 6;
        grid-row: 2;
    }
    .trabajos__picture:nth-of-type(4) {
        grid-column: 6 / 10;
        grid-row: 2;
    }
    .trabajos__picture:nth-of-type(5) {
        grid-column: 1 / 6;
        grid-row: 3;
    }
    .trabajos__picture:nth-of-type(6) {
        grid-column: 6 / 10;
        grid-row: 3;
    }
    .trabajos__picture:nth-of-type(7) {
        grid-column: 1 / 6;
        grid-row: 4;
    }
    .trabajos__picture:nth-of-type(8) {
        grid-column: 6 / 10;
        grid-row: 4;
    }
    .trabajos__picture:nth-of-type(9) {
        grid-column: 4 / 8;
        grid-row: 5;
    }
    .trabajos__parrafo {
        margin-top: 1rem;
        margin-bottom: 1rem;
        text-align: center;
        font-size: 1.5em;
        font-family: Arial, Helvetica, sans-serif;
    }
    /*fin trabajos*/
}

@media screen and (max-width: 600px){
        /*inicio trabajos*/
        .trabajos {
            background-image: url(../img/trabajo.jpg);
            background-size: cover;
            background-position: center bottom;
            height: 300px;
            margin-bottom: 2rem;
        }
        /*fin trabajos*/
}

@media screen and (max-width: 480px){
    .main__trabajos {
        margin: 0 auto;
        max-width: 300px;
    }
    .trabajos {
        background-image: url(../img/trabajo.jpg);
        background-size: cover;
        background-position: center bottom;
        height: 250px;
        margin-bottom: 2rem;
    }
    .trabajos__titulo {
        text-align: center;
        font-size: 2.4em;
        font-family:'Montserrat', sans-serif;
    }
    .trabajos__img {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: repeat(9, 1fr);
        gap: 20px;
    }
    .trabajos__picture:nth-of-type(1) {
        grid-column: 1 / 10;
    }
    .trabajos__picture:nth-of-type(2) {
        grid-column: 1 / 10;
        grid-row: 2;
    }
    .trabajos__picture:nth-of-type(3) {
        grid-column: 1 / 10;
        grid-row: 3;
    }
    .trabajos__picture:nth-of-type(4) {
        grid-column: 1 / 10;
        grid-row: 4;
    }
    .trabajos__picture:nth-of-type(5) {
        grid-column: 1 / 10;
        grid-row: 5;
    }
    .trabajos__picture:nth-of-type(6) {
        grid-column: 1 / 10;
        grid-row: 6;
    }
    .trabajos__picture:nth-of-type(7) {
        grid-column: 1 / 10;
        grid-row: 7;
    }
    .trabajos__picture:nth-of-type(8) {
        grid-column: 1 / 10;
        grid-row: 8;
    }
    .trabajos__picture:nth-of-type(9) {
        grid-column: 1 / 10;
        grid-row: 9;
    }
    .trabajos__parrafo {
        margin-top: 1rem;
        margin-bottom: 1rem;
        text-align: center;
        font-size: 1.3em;
        font-family: Arial, Helvetica, sans-serif;
    }
    /*fin trabajos*/
}
@media screen and (max-width: 320px){
    .trabajos {
        background-image: url(../img/trabajo.jpg);
        background-size: cover;
        background-position: center bottom;
        height: 170px;
        margin-bottom: 2rem;
    }
    /*fin trabajos*/
}
