    /*color*/
    $colors: (
        primary: #000000,
        hover:aliceblue,
        text-background:#ffffff9e,
        borde:#808080,
        footer: #ff7f50,
    );

    /*font-family*/
    $font-titulo:'Roboto', sans-serif;
    $font-subtitulo: 'Montserrat', sans-serif;
    $font-parrafo: Arial, Helvetica, sans-serif;
    $font-nav: 'Oswald', sans-serif;

    /*font sizes*/
    $text-titulo: 3.4em;
    $text-subtitulo: 2.5em;
    $text-parrafo: 2em;
    $text-small: 1.5em;

